@import 'macro-css';
body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
._greenBtn{
  background: #9DD558;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color:#FFFFFF;
  border: 0;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  &:hover{
    background-color: lighten($color: #9DD558, $amount: 5%);

  }
  &:active{
    background-color: darken($color: #9DD558, $amount: 5%);
  }
  } 
// input{
//   font-family: 'Inter';
// }
.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px 0px #0000000A;
  max-width: 1080px;
  margin: 0 auto;
  margin: 50px auto;
  border-radius: 20px;
  .overlay{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
    height: 100%;

  }
  .drawer{
    padding: 30px;
    flex-direction: column;
    position: absolute;
    width: 385px;
    right: 0;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

    .cart__title{
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 30px 0;
    }
    .itemsCart{
      flex:1;
      overflow:auto;
      margin-bottom: 40px;
    }
    .catrSneakers__card{
      border: 1px solid #F3F3F3;
      border-radius: 20px;
      padding: 30px 20px 30px 20px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .cartSneakers__img{
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }
    .cartSneakers__text{
      margin-right: 12px;
      display: flex;
      flex-direction: column;

      .cartSneakers__name{
        font-weight: 400;
        font-size: 14px;
        margin: 0;
      }
      .cartSneakers__price{
        font-size: 14px;
        font-weight: 700;
        margin: 8px 0 0 0 ;
      }
    }
    .cartSneakers__BtnRemove{
      align-self: flex-end;
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.2s ease-out;

      &:hover{
        opacity: 1;
      }
    }
      .cartFooter{
        margin-bottom: 20px;
      }
      .cartFooter__item{
        display: flex;
        align-items: end;
        margin-bottom: 20px;
        .cartFooter__dot{
          flex: 1;
          height: 1px;
          border-bottom: 1px dashed #DFDFDF;
          position: relative;
          top:-4px;
          margin: 0 8px;
        }
      }
      .cartFooter__btn{
        width: 325px;
        height: 55px;
        position: relative;
        &:hover{
          img{
            transform: translateX(5px);
          }
        }
        img{
          position: absolute;
          right: 30px;
          top:20px;
          transition: transform 0.2s ease-out ;
        }
      }
      


  }
  .header{
    padding: 40px;
    border-bottom: 1px solid #EAEAEA;
    img{
      margin-right: 15px;
    }

    .headerInfo__h3, .headerInfo__p{
      margin: 0;
    }

  .headerTable{
    display: flex;
    margin-right: 30px;
    align-items: center;
  }
  }
  .content{
    .content__h1{
      margin: 0;
    }
    .headerContent{
      display: flex;
      justify-content: space-between;
    }
    .searchBlock{
      display: flex;
      align-items: center;
      border: 1px solid #F3F3F3;
      border-radius: 10px;;
      width: 250px;
      height: 45px;
    }
    .searchIco{
      margin: 15px;
    }
    .search{
      border: 0;
      font-size: 16px;

    }
    .goodsContainer{
      align-items: center;
      display: flex;
      .sneakersCard{
        display: flex;
        margin: 20px;
        flex-direction: column;
        border: 1px solid #f3f3f3;
        padding: 22px 30px 32px 30px;
        width: 210px;
        border-radius: 40px;
        transition: box-shadow 0.2s ease-out, transform 0.5s ease-out;
        &:hover{
          box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
          transform: translateY(-5px);
          }
        .unLiked__ico{
          width: 32px;
          height: 32px;
          position: absolute;
          cursor: pointer;
        }
        .sneakersCard__img{
          width: 133px;
          height: 112px;
        }
        .sneakersCard__title{
          margin: 14px 0 14px 0;
        }
        .sneakersCard__info{
          justify-content: space-between;
          display: flex;
          align-items: center;
          .sneakersCard__price_up{
            margin: 0 0 2px 0;
            font-weight: 700;

          }
          .sneakersCard__price_down{
            margin: 0;
          }
          .sneakersCard__add{
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            width: 32px;
            height: 32px;
            border: 0;
            cursor:pointer;
          }
        }
      }
    }
  }
}
